{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block content %}

<form>

    <div class="form-group">
        <!-- Full Name -->

        <label for="full_name_id" class="control-label">Pitch</label>

        <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="Add new pitch here.....">

    </div>


    <div class="form-group">
        <!-- State Button -->

        <label for="state_id" class="control-label">Pitch Category</label>

        <select class="form-control" id="state_id">
        
        <option value="AL">Interview</option>
        
        <option value="AK">Product</option>
    </select>

    </div>


    <div class="form-group">
        <!-- Submit Button -->

        <button type="submit" class="btn btn-primary">Add</button>

    </div>

    </div>

    {% endblock%}