{% extends 'base.html'%} {% block content %}

<h1>List of pitches</h1>



<table class="table">
    <tbody>
        <thead>
            <tr>
                <th>
                    <h3>ID</h3>
                </th>
                <th>
                    <h3>Pitch content</h3>
                </th>
                <th>
                    <h3><img src="../static/thumbs_up.png" height="70" width="70" alt="no image"></h3>
                </th>
                <th>
                    <h3><img src="../static/thumbs_down.png" height="70" width="70" alt="no image"></h3>
                </th>
                <th>
                    <h3>Comments</h3>
                </th>

            </tr>
        </thead>

        {% for pitch in pitches %}
        <tr>
            <td>{{ pitch.id }}</td>
            <td>{{ pitch.content }}</td>
            <td><button type="button" class="btn btn-secondary" onclick="upvote_count()">{{ pitch.upvotes }}</button></td>
            <td><button type="button" class="btn btn-secondary" onclick="downvote_count()">{{ pitch.downvotes }}</button></td>
            {% for comment in Comments %}
            <td>{{ comment.content }}</td>
            {% endfor %}

        </tr>


        {% endfor %}
    </tbody>
</table>

{% endblock %}